<h3>貸し物件登録</h3>

<%= render "shared/error", obj: @lend, class: "error_text" %>

<%= form_with model: @lend do |f| %>
    <table>
        <tr>
            <th><%= f.label :name, "記事タイトル" %></th>
            <td><%= f.text_field :name, size: 32 %></td>
        </tr>
        <tr>
            <th><%= f.label :address, "住所" %></th>
            <td>
                <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %><br>
                <%= f.text_field :address, placeholder: "市町村・建物名を入力", size: 32 %>
            </td>
        </tr>
        <tr>
            <th><%= f.label :price, "1泊 1人当たりの宿泊料" %></th>
            <td><%= f.text_field :price, size: 32 %> 円</td>
        </tr>
        <tr>
            <th><%= f.label :content,"紹介文" %></th>
            <td><%= f.text_area :content, placeholder: "500文字以内", size: "32x10" %></td>
        </tr>
    </table>

    <div class="field">
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true %>
    </div>
    
    <%= f.hidden_field :user_id, value: @user.id %>     <!-- 関連付けのためuser_id登録 -->
    <div class="submit">
        <%= f.submit "貸し物件として登録", class: "button" %>
    </div>

    <div>
        <ul>
            <li><%= link_to "マイページに戻る", @user %></li>
        </ul>
    </div>
<% end %>




