<h3><%= current_user.name %> さんのユーザ情報を編集</h3>

<%= render "shared/error", obj: current_user, class: "error_text" %>

<%= form_with model: current_user do |f| %>
    <table>
        <tr>
            <th><%= f.label :name, "名前" %></th>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, size: 32 %></td>
        </tr>
        <tr>
            <th><%= f.label :password, "パスワード" %></th>
            <td><%= f.password_field :password, size: 32, placeholder: "パスワードを更新する場合は入力" %></td>
        </tr>
        <tr>
            <th><%= f.label :password_confirmation,"パスワードの確認" %></th>
            <td><%= f.password_field :password_confirmation, size: 32, placeholder: "6文字以上、10字以内" %></td>
        </tr>
    </table>

    <div class="submit">
        <%= f.submit "内容を反映する", class:"button" %>
    </div>   
<% end %>

<div>
    <ul>
        <li><%= link_to "ユーザ情報に戻る", :user %></li>        
    </ul>
</div>
