<article class="article">
    <h3>宿泊予約一覧</h3>

    <table class="over">
        <thead>
            <tr>
                <th>ユーザー名</th>
                <th>宿泊日</th>
                <th>宿泊人数</th>
                <th>合計宿泊料</th>
            </tr>
        </thead>
        <tbody>
            <% lend_borrow.each do |borrow| %>
                <tr>
                    <td class="over"><%= link_to borrow_user(borrow.user_id), user_path(borrow.user_id) %></td>
                    <td class="over"><%= borrow.start_day.to_s(:datetime_jp) %> 〜 <%= borrow.end_day.to_s(:datetime_jp) %></td>
                    <td class="over"><%= borrow.peoples %>人</td>
                    <td class="over"><%= borrow.total.to_s(:delimited) %>円</td>
                </tr>
            <% end %>
        </tbody>
    </table>
</article>