<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "shared/header" %>
    </header>
    
    <!-- エラー発生時用記述 -->
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>

    <footer>
      <p>© Rails.Test2</p>
    </footer>
    
    <!-- debug,開発環境のみ表示 -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
